*{
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    font-size: 62.5%;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-rows: 10vh 15vh minmax(75vh,min-content);
    background: silver;
}
.navbar{
    background: wheat;
    display: grid;
    grid-template-columns: min-content 1fr max-content;
}
.logo{
    padding: 0 2rem;
}
.name{
    padding: 0 2rem;

}
.transactionForm{
    background: rgb(0, 97, 97);
}
.transactionList{
    background: sandybrown;
    height: 74vh;
    overflow-y: scroll;
}
.transactionListItems{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr minmax(8vw, min-content) minmax(15vw, min-content) min-content;
}
.renderItems{
    border-right:1px solid black;
    border-bottom:1px solid black;
    padding: 4px;
}

